{% with cart_item_count as cart_count %}

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-shopping-cart"></span> <span class="badge">{{ cart_count }}</span>
  </a>
  <ul class="dropdown-menu">

    {% for item in cart_items %}
    <li>
      <a href="{{ item.get_absolute_url }}" id="{{ item.name }}">{{ item.name }}</a>
    </li>
    {% endfor %}

    {% if cart_count > 0 %}
      <li class="divider"></li>
    {% endif %}

    <li>
      <a href="{% url 'show_cart' %}">Go to cart</a>
    </li>

  </ul>
</li>

{% endwith %}
