/* For fixed Bootstrap navbar */
/*body {
  padding-top: 70px;
}*/


/* style for Django error messages */
ul.errorlist {
  background-color: Red;
  color: White;
}

/* styles for image gallery */
ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
}
