/* For fixed Bootstrap navbar */
/*body {
  padding-top: 70px;
}*/

/* Bootstrap has a 20px margin-bottom on the navbar */
.navbar {
  margin-bottom: 0;
}


/* style for Django error messages */
ul.errorlist {
  background-color: Red;
  color: White;
}

/* styles for image gallery */
.sa-header-image-source {
/*  position: relative;
  width: 100%;*/
  margin-bottom: 20px;
}
.sa-header-image {
  width: 100%;
}
.sa-header-title {
  position: absolute;
  top: 200px;
/*  left: 0;*/
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
.sa-gallery ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
}

/* Flickr rip off */
.artist-photos {
  overflow: hidden;
  margin-bottom: 20px;
}
.hero {
  width: 500px;
  height: 333px;
  margin-bottom: 4px;
}
.secondary {
  float: left;
  width: 164px;
  height: 110px;
  margin-right: 4px;
}
.crop {
  display: block;
  overflow: hidden;
}
.photo_container {
/*  display: inline-block;*/
  line-height: 0;
  position: relative;
}

.artist-list li {
  overflow: hidden;
  float: left;
  margin: 0 30px 60px;
}
