{% extends "catalog/__base.html" %}

{% load catalog_tags %}

{% block title %}
  {{ site_name }}
{% endblock title %}

{% block site_wrapper %}
<div id="site-wrapper">

  <!-- Menu on the side -->
  <div id="site-menu">
    {% block side_menu %}{% endblock side_menu %}
  </div><!-- #site-menu -->

  <header>
    {% block header %}{% endblock header %}
  </header>

  <!-- Main content of site -->
  <div class="container bs-docs-container">
    {% block main_content %}{% endblock main_content %}
  </div>

  <div class="footer"></div>


</div><!-- #site-wrapper -->
{% endblock site_wrapper %}
