<!-- Display all pictures -->
<div id="welcome_gallery" class="container">

{% with active_categories as cats %}
  {% for cat in cats %}
    <h3>
      <a href="{{ cat.get_absolute_url }}" class="category">
        {{ cat.name }}
      </a>
    </h3>
    <hr/>
    <ul class="row">
    {% for product in cat.product_set.all %}
    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a href="{{ product.get_absolute_url }}" title="{{ product.name }}" class="thumbnail">
        <img class="img-responsive" data-src="holder.js/100%x180" src="{{ product.image.url }}" alt="{{ product.name }}">
      </a>
    </li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endwith %}

</div>
