{% extends "catalog/__l_left_sidebar.html" %}

{% block title %}
  {{ page_title }} | {{ block.super }}
{% endblock title %}

{% block side_menu %}
  {{ block.super }}
{% endblock side_menu %}

{% block main_content %}

  <h1>{{ category.name }}</h1>
  {{ category.description }}
  <br/>
  <br/>

  <div id="product-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for product in products %}
      <li data-target="#product-carousel" data-slide-to="{{ forloop.counter }}" class="{% if forloop.first %}active{% endif %}"></li>
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for product in products %}
      <div class="item {% if forloop.first %}active{% endif %}">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <div class="carousel-caption">
          {{ product.description }}
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#product-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#product-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

{% endblock main_content %}
